@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap');

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.navbar{
    text-align: center;
    font-weight: lighter;
}

.navbar-toggler{
    outline: none!important;
    border: none!important;
}

.navbar .nav-link{
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 16px!important;
    padding-right: 16px!important;
}

.cart{
    width: 30px;
}

.carousel-item{
    height: 500px;
}

.carousel-image-1{
    background: url('./images/carousel-1.jpg');
    background-size: cover;
}

.carousel-image-2{
    background: url('./images/carousel-2.jpg');
    background-size: cover;
}

.carousel-image-3{
    background: url('./images/carousel-3.jpg');
    background-size: cover;
}

.service {
    width: 50px;
}